name: Release

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+*'

jobs:
  create_release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Create a release
        id: create_release
        uses: ncipollo/release-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: ${{ github.ref_name }}
          tag: ${{ github.ref_name }}
          generateReleaseNotes: true
          draft: false
          prerelease: false

  release_deb_executable:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04
            platform: linux/amd64
          - os: ubuntu-24.04-arm
            platform: linux/arm64
    runs-on: ${{ matrix.os }}
    needs: create_release
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Cache Docker layers
        uses: docker/build-push-action@v5
        with:
          context: .github/workflows/
          tags: ubuntu:build
          platforms: ${{ matrix.platform }}
          build-args: IMAGE=ubuntu:20.04
          cache-from: type=gha,scope=ubuntu
          cache-to: type=gha,scope=ubuntu,mode=max
          load: true
      - name: Create deb packages
        run: |
          docker run --rm -i -v $(pwd):/work -w /work ubuntu:build bash -c '/root/.cargo/bin/cargo deb -p recisdb --verbose --output ./artifacts/ -- -F dvb'
      - name: Upload deb package to release channel
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          asset_path: "./artifacts/*"
          github_token: ${{ secrets.GITHUB_TOKEN }}
          upload_url: ${{ needs.create_release.outputs.upload_url }}

  release_windows_exe:
    runs-on: windows-latest
    needs: create_release
    strategy:
      fail-fast: false
      matrix:
        include:
          - target_arch: x86_64-pc-windows-msvc
            rust_spec: stable-x86_64-pc-windows-msvc
          - target_arch: i686-pc-windows-msvc
            rust_spec: stable-i686-pc-windows-msvc
          - target_arch: aarch64-pc-windows-msvc
            rust_spec: stable-aarch64-pc-windows-msvc
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Rust toolchain (stable for ${{ matrix.target_arch }})
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          target: ${{ matrix.target_arch }}
          override: true
          default: true

      - uses: MinoruSekine/setup-scoop@v4.0.1
        with:
          apps: llvm cmake git
          scoop_checkup: 'true'

      - name: Install prerequisites
        shell: cmd
        run: |
          scoop bucket add crystal-preview https://github.com/neatorobito/scoop-crystal
          scoop install vs_2022_cpp_build_tools

      - name: Build
        run: |
          $env:RUSTFLAGS="-C target-feature=+crt-static"
          cargo build --workspace --verbose --release --target ${{ matrix.target_arch }}
          Rename-Item -Path ./target/${{ matrix.target_arch }}/release/recisdb.exe recisdb-${{ matrix.target_arch }}.exe

      - name: Upload exe to release channel
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          asset_path: "./target/${{ matrix.target_arch }}/release/*.exe"
          github_token: ${{ secrets.GITHUB_TOKEN }}
          upload_url: ${{ needs.create_release.outputs.upload_url }}
